html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100%;
}

body{
   background: linear-gradient(45deg, rgb(3,63,167)0%, rgb(0, 55, 150) 70%);
   display: flex;   
    place-items: center;
    justify-content: center;
   
}

h1{
    font-size: 50px;
    color: #ffffff;
    margin: 10px;

}
.fondoH1{
    border-radius: 20px 20px 0px 0px;
    padding-top: 40px;
    height: 100px;
    background: rgb(157,0,255);
    background: linear-gradient(90deg, rgba(157,0,255,1) 0%, rgba(226,0,255,0.8916608879880077) 74%);
}
.fondomain{
    border-radius: 20px 20px 0px 0px;

}

/* .inline{
    display: inline;
} */
.puntos-container{
    display: flex;
    flex-direction: column;
}

.movilidad-container,.antiguedad-container{  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sinAuto{
    width: 300px;
    margin-right: 180px;
  
}

ul{
    list-style-type: none;
}

.annos{
    height: 20px;
}
.container {

    min-width: 700px;
    max-width: 1000px;
    height: 2200px;
    background-color: #ffffff;

    border-radius: 20px 20px 
  
}



.main{
    text-align: center;
}

.fondo{

    background: #bee2f9;
}
.titulos{
    margin-left: 10px;
    font-size: 30px;
    text-align: left;
    color: rgb(0, 0, 0);
    text-shadow: #ffffff 1px 1px 1px;
}

.check{
    width: 40px;
    height: 40px;
    display: inline-block;
}

.textocheck{
    margin-left: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    display: inline-block;
}

.btnsimular{
    margin-bottom: 1px;
}

.botones{
    width: 300px;
    height: 70px;
    margin: 40px;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    /* background:linear-gradient(to bottom, #c463ee 5%, #b006ae 100%); */
    background-color:#ff9500;
    border-radius:6px;
    border:1px solid #ff9500;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
}  
.botones:hover {
    background:linear-gradient(to bottom, #b006ae 5%, #c463ee 100%);
    background-color:#01386c;
}

.input{
    font-size: 40px;
    width: 400px;
    height: 60px;
    border: none;
    background: none;
}

.footer{
    margin-top: 50px;
    margin-left: 10px;
}

.ganancias{
    text-align: center;
}

.simulador{
    text-align: center;

}

.simulador::before{
    content: "😎"
}
.actualizacion{
    color: gray;
    opacity: .8;
}

ul{
    font-size: 40px;
}

p{
    font-size: 40px;
}
.aviso{
    color: #f81c00;
    opacity: .9;
    font-size: 30px;
}

/*-----------ESENCIALES------------*/

.esenciales{
    font-family: 'Poppins', sans-serif;
}
.link-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}

.link{

border-radius:30px;
width: 400px;
height: 400px;
box-shadow: #b006ae 20px 20px 30px;

}

.calculadora, .puntos, .recibos, .materiales{
    width: 400px;
    height: 400px;

}